{% extends "base.html" %} {% block content %}
<div class="row justify-content-center">
  <div class="col-md-6">
    <div class="card">
      <div class="card-header">
        <!-- 页面标题 -->
        <h3 class="text-center mb-0">忘记密码</h3>
      </div>
      <div class="card-body">
        <div
          class="alert alert-info"
          role="alert">
          <!-- 提示信息 -->
          <p class="mb-3 text-center">
            请注意此系统为内部系统，为考虑安全性，不提供自助找回密码功能。
          </p>

          <p class="mb-3 text-center">如果您忘记了密码，请按以下步骤操作：</p>
          <div class="text-center">
            <!-- 操作步骤 -->
            <ol class="list-unstyled">
              <li class="mb-2">1. 准备好您的有效身份证明材料</li>
              <li class="mb-2">2. 联系系统管理员：</li>
              <li class="d-inline-block"><strong>198-6489-9298</strong></li>
            </ol>
          </div>

          <p class="mb-0 text-center">
            感谢您的理解，对由此带来的不便我们深表歉意。
          </p>
        </div>
        <div class="d-grid gap-2">
          <!-- 返回登录按钮 -->
          <a
            href="{{ url_for('login') }}"
            class="btn btn-primary"
            >返回登录</a
          >
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
